absl-py==2.3.1
accelerate==1.10.1
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.11.0
attrs==25.3.0
audioread==3.0.1
av==16.0.1
babel==2.17.0
bangla==0.0.5
beautifulsoup4==4.14.2
bidict==0.23.1
bitsandbytes==0.48.2
blinker==1.9.0
blis==1.3.3
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.41.1
botocore==1.41.1
brotli==1.2.0
budoux==0.7.0
build==1.3.0
cached_path==1.8.0
cachetools==6.2.2
catalogue==2.0.10
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.1
cloudpathlib==0.22.0
cmake==3.27.9
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comtypes==1.4.12
confection==0.1.5
contourpy==1.3.3
coqpit==0.0.17
crcmod==1.7
cryptography==46.0.2
ctranslate2==4.6.0
curl_cffi==0.14.0
cycler==0.12.1
cymem==2.0.11
Cython==3.1.4
datasets==4.1.1
dateparser==1.1.8
ddgs==9.12.1
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
diffusers==0.37.1
dill==0.4.0
discord-protos==0.0.2
discord.py==2.6.4
discord.py-self==2.1.0
Distance==0.1.3
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
dotenv==0.9.9
dpcpp-cpp-rt==2025.0.4
dtw-python==1.5.3
duckduckgo_search==8.1.1
edge-tts==7.2.8
editdistance==0.8.1
einops==0.8.1
einx==0.3.0
ema-pytorch==0.7.7
email-validator==2.3.0
encodec==0.1.1
eng_to_ipa==0.0.2
expecttest==0.3.0
f5-tts @ git+https://github.com/SWivid/F5-TTS.git@3eecd94baa74fa1eea44ba36f000b9e8d0b163f9
fast-langdetect==1.0.0
fastapi==0.118.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.0
faster-whisper==1.2.1
fasttext-predict==0.9.2.4
ffmpeg-python==0.2.0
ffmpy==0.6.1
filelock==3.13.1
Flask==3.1.2
flask-cors==6.0.2
Flask-SocketIO==5.6.0
flatbuffers==25.12.19
fonttools==4.60.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2024.6.1
fugashi==1.3.0
funasr==1.0.27
future==1.0.0
g2p-en==2.1.0
g2pk2==0.0.3
g2pkk==0.1.2
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gradio==5.50.0
gradio_client==1.14.0
groovy==0.1.2
grpcio==1.75.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
h2==4.3.0
hangul-romanize==0.1.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.35.3
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.1.0
hypothesis==6.148.2
idna==3.10
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.0.0
intel-cmplr-lib-rt==2025.0.4
intel-cmplr-lib-ur==2025.0.4
intel-cmplr-lic-rt==2025.0.4
intel-opencl-rt==2025.0.4
intel-openmp==2025.0.4
intel-sycl-rt==2025.0.4
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
jieba_fast==0.53
Jinja2==3.1.6
jiter==0.12.0
jmespath==0.10.0
joblib==1.5.2
jsonlines==1.2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaldiio==2.18.1
kiwisolver==1.4.9
ko-pron==1.3
langcodes==3.5.0
langid==1.1.6
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
lightning-utilities==0.15.2
lintrunner==0.12.7
llvmlite==0.45.1
loguru==0.7.2
lxml==6.0.2
marisa-trie==1.3.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.6
mdurl==0.1.2
mecab-python3==1.0.9
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a
mkl==2025.0.1
mkl-dpcpp==2025.0.1
modelscope==1.10.0
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.1
mss==10.1.0
multidict==6.6.4
multiprocess==0.70.16
murmurhash==1.0.13
MyShell-OpenVoice @ git+https://github.com/myshell-ai/OpenVoice.git@74a1d147b17a8c3092dd5430504bd83ef6c7eb23
narwhals==2.12.0
networkx==2.8.8
ninja==1.13.0
nltk==3.9.2
noisereduce==3.0.3
num2words==0.5.12
numba==0.62.1
numpy==1.26.4
nvidia-cublas-cu12==12.9.1.4
omegaconf==2.3.0
onemkl-sycl-blas==2025.0.1
onemkl-sycl-datafitting==2025.0.1
onemkl-sycl-dft==2025.0.1
onemkl-sycl-lapack==2025.0.1
onemkl-sycl-rng==2025.0.1
onemkl-sycl-sparse==2025.0.1
onemkl-sycl-stats==2025.0.1
onemkl-sycl-vm==2025.0.1
onnxruntime==1.23.0
onnxruntime-gpu==1.23.0
openai==2.8.1
openai-whisper==20250625
OpenCC==1.1.9
opencv-python==4.12.0.88
openvino==2024.6.0
openvino-dev==2024.6.0
openvino-telemetry==2025.2.0
openvoice-cli==0.0.5
optree==0.18.0
orjson==3.11.3
oss2==2.19.1
packaging==25.0
pandas==1.5.3
pdfminer.six==20251230
pdfplumber==0.11.9
pefile==2024.8.26
peft==0.17.1
pillow==10.4.0
piper-tts==1.3.0
plac==1.4.5
platformdirs==4.4.0
pooch==1.8.2
preshed==3.0.10
primp==1.2.2
proces==0.1.7
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.1
psutil==7.1.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio @ file:///C:/pyaudio_build/pyaudio/dist/pyaudio-0.2.8-cp311-cp311-win_amd64.whl#sha256=f5e4b487ccca12a28d61805b3d445b6ddb1309f99588a2b90fd201ad27ac4e13
PyAutoGUI==0.9.54
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.2
pykakasi==2.2.1
PyMsgBox==2.0.1
PyNaCl==1.6.2
pynndescent==0.5.13
pyopenjtalk==0.4.1
pyparsing==3.2.5
pypdfium2==5.7.1
pyperclip==1.11.0
pypinyin==0.50.0
pypiwin32==223
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==1.0.1
pytchat==0.5.5
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.13.0
python-multipart==0.0.20
python-socketio==5.16.0
pytorch-lightning==2.5.5
pytorch-wpe==0.0.1
pyttsx3==2.99
pytweening==1.2.0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
resampy==0.4.3
rich==13.9.4
rich-toolkit==0.15.1
rignore==0.7.0
robust-downloader==0.0.2
rotary-embedding-torch==0.8.9
rpds-py==0.29.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
ruff==0.13.3
s3transfer==0.15.0
safehttpx==0.1.7
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
screeninfo==0.8.1
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.39.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.2
six==1.17.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.8.1
soxr==1.0.0
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spin==0.15
split-lang==2.1.1
srsly==2.5.1
srt==3.5.3
starlette==0.48.0
SudachiDict-core==20250825
SudachiPy==0.6.10
sympy==1.14.0
tabulate==0.10.0
tbb==2022.2.0
tcmlib==1.2.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
thinc==8.3.10
threadpoolctl==3.6.0
tiktoken==0.11.0
ToJyutping==3.2.0
tokenizers==0.15.2
tomli==2.3.0
tomlkit==0.12.0
torch @ file:///C:/pytorch_build/pytorch/dist/torch-2.10.0a0%2Bgitd4493c5-cp311-cp311-win_amd64.whl#sha256=89e69fd10ab2f160a0521b5748b606ddec4a90a8798944539c00e4b7919eaefe
torchaudio==2.10.0a0+32ce8c0
torchcodec==0.8.1
torchdiffeq==0.2.5
torchmetrics==1.8.2
tqdm==4.67.1
trainer==0.0.36
transformers==4.38.2
transformers-stream-generator==0.0.5
TTS==0.22.0
txtsplit==1.0.0
typeguard==4.4.4
typer==0.19.2
typer-slim==0.20.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
umap-learn==0.5.9.post2
umf==0.9.1
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.5.0
uv==0.9.11
uvicorn==0.37.0
vocos==0.1.0
vosk==0.3.45
wandb==0.23.0
wasabi==0.10.1
watchdog==6.0.0
watchfiles==1.1.0
wavmark==0.0.3
weasel==0.4.3
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
whisper-timestamped==1.15.9
win32_setctime==1.2.0
wordsegment==1.3.1
wrapt==1.17.3
wsproto==1.3.2
x-transformers==2.8.2
xxhash==3.6.0
yapf==0.43.0
yarl==1.20.1
youtube-search-python==1.6.6
youtube-transcript-api==1.2.3
zipp==3.23.0
zmq==0.0.0
